
// Git
// -------------------

// Used to color git status

.status          { color: @text-color; }
.status-added    { color: @boss-green; }
.status-ignored  { color: @boss-gray; }
.status-modified { color: @boss-yellow; }
.status-removed  { color: @boss-red; }
.status-renamed  { color: @boss-blue; }

atom-text-editor .gutter .line-number.git-line-removed, .gutter .line-number.git-line-removed {
  border-left: 2px solid #bf616a;
  padding-left: calc(0.5em - 2px);
}

atom-text-editor .gutter .line-number.git-line-removed:before, .gutter .line-number.git-line-removed:before {
  content: none;
}

.icon:before {
  // opacity: 0.5;
}

.selected .icon:before {
  // opacity: 1;
}

.github-StagingView-list {
  .icon.icon-diff-removed:before {
    color: @boss-red;
  }

  .icon.icon-diff-modified:before {
    color: @boss-yellow;
  }

  .icon.icon-diff-added:before {
    color: @boss-green;
  }
}

.github-FilePatchView-header .btn-group .btn.icon-code {
  margin-right: 10px;
}

// Enable Git highlighting in tree view
.list-group,
.list-tree {
  li:not(.list-nested-item),
  li.list-nested-item > .list-item {
    color: @text-color;
  }

  .generate-list-item-status-color(@color, @status) {
    li:not(.list-nested-item).status-@{status},
    li.list-nested-item.status-@{status} > .list-item {
      color: @color;
    }
    li:not(.list-nested-item).selected.status-@{status},
    li.list-nested-item.selected.status-@{status} > .list-item {
      color: @color;
    }
  }

  .generate-list-item-status-color(@boss-green, added);
  .generate-list-item-status-color(@boss-gray, ignored);
  .generate-list-item-status-color(@boss-yellow, modified);
  .generate-list-item-status-color(@boss-red, removed);
  .generate-list-item-status-color(@boss-orange, renamed);
}
